  <div class="
        medialina position-fixed top-0 z-2 text-center
        "
  >
    <div class="
          media-line bg-main-secondary m-auto bg-main-light mb-2
          "
    ></div>
    <ul class="mediaIcons list-unstyled mt-2">
      <li class="mb-2">
        <a class="text-decoration-none" href="#">
          <img src="./assets/brands/Github.svg" alt="Dribble logo">
        </a>
      </li>
      <li class="mb-2">
        <a class="text-decoration-none" href="#">
          <img src="./assets/brands/Dribble.svg" alt="Dribble logo">
        </a>
      </li>
      <li class="mb-2">
        <a class="text-decoration-none" href="#">
          <img src="./assets/brands/Figma.svg" alt="Figma logo">
        </a>
      </li>
    </ul>
  </div>