/* Main Color */
$background: #282c33;
$gray: #abb2bf;
$primary: #c778dd;

.text-main {
  /* Color */
  color: $primary;
}
.bg-main {
  /* Color */
  background-color: $background;
}
.bg-main-light {
  /* Color */
  background-color: $gray;
}
.text-main-secondary {
  /* Color */
  color: $gray;
}
