.navbar {
  &__logo {
    width: 16px;
    height: 16px;
  }
  @media screen and (min-width: 599px) {
    & {
      padding-top: 32px;
    }
  }
  @media screen and (max-width: 599px) {
    & {
      padding-top: 19px;
    }
  }
}

@media (max-width: 599px) {
  .navbar.show {
    height: 100vh;
    width: 100%;
  }
}
