.navbar {
  /* Handle NavBar Logo */
  &__logo {
    /* Box Model */
    width: 16px;
    height: 16px;
  }
  /**
  * change padding between navbar and top of page depend on screen width
  */
  @media screen and (min-width: 599px) {
    & {
      /* Box Model */
      padding-top: 32px;
    }
  }
  @media screen and (max-width: 599px) {
    & {
      /* Box Model */
      padding-top: 19px;
    }
  }
}
/**
* make navbar take full width and height while open in small screens
*/
@media (max-width: 599px) {
  .navbar.show {
    /* Box Model */
    height: 100vh;
    width: 100%;
  }
}
