<div [ngClass]="{ 'bg-main': isNavbarOpen }" class="fixed-top ">
  <div [ngClass]="{ 'bg-main': !isNavbarOpen }" class="container ps-3 pe-3 ">
    <nav #navbar [ngClass]="isNavbarOpen?'show':''" class="navbar align-items-start flex-wrap">
      <a [ngStyle]="{ 'padding-bottom': isNavbarOpen ? '55px' : '' }" class="fw-bold text-decoration-none text-white"
        routerLink="/home">
        <img class="navbar__logo" src="./assets/logo-solid.svg" alt="logo-solid" />
        <span class="ps-2">Elias</span>
      </a>
      @if (isHandsetPortrait) {
      <button (click)="onOpenNavBarClick()" [ngClass]="{ 'd-block': !isNavbarOpen, 'd-none': isNavbarOpen }"
        class="border-0 bg-transparent w-50 text-end">
        <img src="./assets/burger_btn.svg" alt="burger_btn" />
      </button>
      } @if (isNavbarOpen) {
      <button (click)="onCloseNavbarClick()" class="d-block p-0 nabbar-burgarBtn border-0 bg-transparent w-50 text-end">
        <img src="./assets/close_btn.svg" alt="close_btn" />
      </button>
      }
      <div [ngClass]="{'w-100 h-100': isHandsetPortrait}">
        <app-navbar-anchors (isNavbarLinksClicked)="onLinksExpendedNavbarClick($event)" [isNavbarOpen]="isNavbarOpen"
          [isHandsetPortrait]="isHandsetPortrait"></app-navbar-anchors>
      </div>
    </nav>
  </div>
</div>