<div [ngClass]="{ 'bg-main': !isHandsetPortrait }" class="fixed-top ">
  <div [ngClass]="{ 'bg-main': isHandsetPortrait }" class="container ps-3 pe-3 ">
    <nav #navbar [ngClass]="isNavBarOpen ? '' : 'show'" class="navbar align-items-start flex-wrap">
      <a [ngStyle]="{ 'padding-bottom': !isHandsetPortrait ? '55px' : '' }"
        class="fw-bold text-decoration-none text-white" routerLink="/home">
        <img class="navbar__logo" src="./assets/logo-solid.svg" alt="logo-solid" />
        <span class="ps-2">Elias</span>
      </a>

      @if (isHandsetPortrait) {
      <button (click)="onClickOpenNavBar()" [ngClass]="{ 'd-none': !isNavBarOpen, 'd-block': isNavBarOpen}"
        class="border-0 bg-transparent">
        <img src="./assets/burger_btn.svg" alt="burger_btn" />
      </button>
      }
      @if (!isHandsetPortrait) {
      <button (click)="onClickCloseNavbar()" [ngClass]="{'d-none': isNavBarOpen,'d-block': !isNavBarOpen }"
        class="p-0 nabbar-burgarBtn border-0 bg-transparent w-50 text-end">
        <img src="./assets/close_btn.svg" alt="close_btn" />
      </button>
      }

      <ul #navbarList [ngClass]="!isNavBarOpen && isHandsetPortrait ? 'd-flex' : 'd-none'"
        class="navbar__list list-unstyled mb-0 align-self-start h-100 position-relative">
        <li [ngClass]="{ 'pb-4': !isHandsetPortrait }" class="navbar__item">
          <a (click)="onClickCloseNavbar()" [ngClass]="{ 'ps-32': isHandsetPortrait }"
            class="navbar__link text-main-secondary text-decoration-none active" routerLink="/home"
            routerLinkActive="active">
            <span class="text-main-primary">#</span>home
          </a>
        </li>
        <li [ngClass]="{ 'pb-4': !isHandsetPortrait }" class="navbar__item">
          <a (click)="onClickCloseNavbar()" [ngClass]="{ 'ps-32': isHandsetPortrait }"
            class="navbar__link text-main-secondary text-decoration-none" routerLink="/works" routerLinkActive="active">
            <span class="text-main-primary">#</span>works
          </a>
        </li>
        <li [ngClass]="{ 'pb-4': !isHandsetPortrait }" class="navbar__item">
          <a (click)="onClickCloseNavbar()" [ngClass]="{ 'ps-32': isHandsetPortrait }"
            class="navbar__link text-main-secondary text-decoration-none" routerLink="/about" routerLinkActive="active">
            <span class="text-main-primary">#</span>about-me
          </a>
        </li>
        <li [ngClass]="{ 'pb-4': !isHandsetPortrait }" class="navbar__item">
          <a (click)="onClickCloseNavbar()" [ngClass]="{ 'ps-32': isHandsetPortrait }"
            class="navbar__link text-main-secondary text-decoration-none" routerLink="/contacts"
            routerLinkActive="active">
            <span class="text-main-primary">#</span>contacts
          </a>
        </li>
        <li [ngClass]="{ 'pb-4': !isHandsetPortrait }" class="align-self-end navbar__item">
          <app-site-language [isHandsetPortrait]="isHandsetPortrait"></app-site-language>
        </li>
        <li [ngClass]="{ 'd-flex': !isHandsetPortrait, 'd-none': isHandsetPortrait }"
          class="position-absolute start-50 bottom-0 translate-middle">
          <ul class="navbar__socialIcons list-unstyled m-0">
            <li>
              <a class="text-main-secondary w-100" href="#">
                <img class="w-100" src="./assets/brands/Github.svg" alt="Github" />
              </a>
            </li>
            <li class="mx-2">
              <a class="text-main-secondary w-100" href="#">
                <img class="w-100" src="./assets/brands/Dribble.svg" alt="Github" />
              </a>
            </li>
            <li>
              <a class="text-main-secondary w-100" href="#">
                <img class="w-100" src="./assets/brands/Figma.svg" alt="Github" />
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>