button.btn-main-primary {
  /* Box Model */
  padding: 8px 16px;
  border: 1px solid #c778dd;
  border-radius: 0;

  /* Other */
  transition: all 300ms ease-out;

  &:hover {
    /* Color */
    background-color: rgba($color: #c778dd, $alpha: 20%);
    border: 1px solid #c778dd;
  }
}
