button.btn-main-primary,
button.btn-main-primary:active {
  /* Box Model */
  padding: 8px 16px;
  border: 1px solid $primary;
  border-radius: 0;
  color: white;

  /* Other */
  transition: all 300ms ease-out;
  &:hover {
    /* Box Model */
    border: 1px solid $primary;

    /* Color */
    background-color: rgba($color: $primary, $alpha: 20%);
    color: white;
  }
}
