<div class="container my-5">
  <figure>
    <div class="notfound mx-auto text-center mt-5">
      <img class="mt-5" src="assets\undraw_page_not_found_re_e9o6.svg" alt="notfound page img">
    </div>
    <p class="text-center text-white my-3 h3">
      Sorry , the page not found
      <span class="text-main-secondary d-block h6 my-3">The link you followed probably broken or the page has been
        removed</span>
    </p>
    <button routerLink="/home" class="text-uppercase btn btn-main-primary d-block mx-auto mb-5">back to home</button>
  </figure>
</div>