<section class="qoute mx-auto position-relative">
  <div class="position-relative">
    <p class="text-white mb-0 grayBorder qoute__qoutes">
      With great power comes great electricity bill
    </p>
    <img
      class="position-absolute qoute__img quotes"
      src="./assets/quote.svg"
      alt="quote"
    />
  </div>

  <div>
    <p class="qoute__author position-absolute mb-0 text-white grayBorder">
      - Dr. Who
      <img
        class="position-absolute qoute__img author"
        src="./assets/quote.svg"
        alt="quote auther"
      />
    </p>
  </div>
</section>
