.qoute {
  /* box Model */
  width: 712px;
  padding: {
    top: 112px;
  }
  /* Layout */
  text-align: center;

  p {
    /* box Model */
    padding: 32px;

    /* Text */
    font-size: 23px;
  }

  &:before {
    /* Positioning */
    left: 19px;
    transform: translateY(-50%);
    position: absolute;

    /* Box Model */
    width: 25px;
    height: 20px;
    padding: 4px 8px;

    /* Color */
    background-image: url("../../../../assets/quote.svg");
    background-repeat: no-repeat;
    background-color: #282c33;
    /* Other */
    content: "";
  }
  &__author {
    /* Positioning */
    bottom: -100px;
    right: 0px;
    p {
      /* box Model */
      border-top: 0;
    }

    &:before {
      /* Positioning */
      right: 16px;
      transform: translateY(-50%);
      position: absolute;

      /* Box Model */
      width: 25px;
      height: 20px;
      padding: 4px 8px;

      /* Color */
      background-image: url("../../../../assets/quote.svg");
      background-repeat: no-repeat;
      background-color: #282c33;
      /* Other */
      content: "";
    }
  }
}
