.home {
  $refer: &;

  padding-top: 123px;
  /* Box Model */
  min-height: 100vh;

  &__row-mb {
    margin: auto {
      bottom: 112px;
    }
  }

  &__heading {
    h1 {
      /* Text  */
      font : {
        weight: 600;
        size: 32px;
      }
      line-height: normal;
    }

    p {
      /* Box Model */
      max-width: 90%;
      margin: auto {
        left: 0;
        start: 0;
        top: 32px;
        bottom: 24px;
      }
    }

    #{$refer}__btn {
      /* Other */
      transition: all 0.5s;
      box-shadow: 0px 4px 4px 0px rgba($color: #000000, $alpha: 0.3);
    }
  }

  &__images {
    #{$refer}__main {
      /* Positioning */
      position: relative;

      /* Box Model */
      width: 457px;
      height: 386px;

      /* Other */
      z-index: 1;

      @media (max-width: 500px) {
        width: 100%;
      }
    }

    #{$refer}__dots {
      /* Box Model */
      width: 84px;
      height: 84px;

      /* Positioning */
      bottom: 12%;
      right: 18px;

      /* Other */
      z-index: 1;
    }

    #{$refer}__outline {
      /* Positioning */
      top: 45%;
      left: -12px;

      /* Box Model */
      width: 155px;
      height: 155px;

      /* Other */
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  &__frame {
    /* Box Model */
    width: 457px;
    font-weight: 500;

    /* Other */
    @media (max-width: 500px) {
      width: 100%;
    }
    span {
      /* Text*/
      font-weight: 600;
    }

    #{$refer}__box {
      /* Positioning */
      left: 0;

      /* box Model */
      width: 16px;
      height: 16px;
    }
  }
}
