@import "../../../styles/utilities/varibules";
@import "../../../styles/utilities/mixin.scss";

.home {
  /* Box Model */
  min-height: 100vh;
  /* Color */
  background-color: $background;

  .home__heading {
    h1 {
      /* Text  */
      font-weight: 600;
      font-size: 32px;
      line-height: normal;

      /* Color */
      color: $primary;
    }
    span {
      /* Color */
      color: white;
    }

    p {
      /* Color */
      color: $gray;
    }

    .home__heading-bnt {
      /* Box Model */
      border: 1px solid $primary;
    }
  }
}

.home__main-img {
  /* Positioning */
  position: relative;

  /* Box Model */
  width: 457px;

  height: 386px;
  /* Other */

  z-index: 1;
}

.home__dots-img {
  /* Box Model */
  width: 84px;
  height: 84px;

  /* Positioning */
  bottom: 12%;
  right: 18px;

  /* Other */
  z-index: 1;
}

.home__outline-img {
  /* Box Model */
  width: 155px;
  height: 155px;

  /* Positioning */
  top: 45%;
  left: -12px;

  /* Other */
  transform: translateY(-50%);
  z-index: 0;
}

.home__frame {
  /* Positioning */
  bottom: -5px;

  /* Box Model */
  width: 402px;
  border: 1px solid $gray;
  font-weight: 500;
  color: $primary;

  /* Other */
  transform: translateY(-50%);

  span {
    /* Color */
    color: white;

    /* Text*/
    font-weight: 600;
  }

  .home__box {
    /* Positioning */
    left: 0;

    /* box Model */
    width: 16px;
    height: 16px;
    border: 1px solid $primary;

    /* Color */
    background-color: $primary;
  }
}
