<section
  [ngStyle]="{
    'padding-top': '82px',
    mobileMedia
  }"
  class="home"
>
  <div class="container px-3">
    <div
      class="row gx-2 align-items-center justify-content-between home__row-mb"
    >
      <div class="col-lg-6">
        <div class="home__heading">
          <h1 class="mb-0 pe-1 p-md-0 text-white">
            Elias is a <span class="color-main">web designer</span>
            and
            <span class="color-main"> front-end developer </span>
          </h1>
          <p class="mb-4 text-main-secondary">
            He crafts responsive websites where technologies meet creativity
          </p>
          <button
            class="btn btn-main-primary text-capitalize d-none d-md-block"
          >
            <a RouterLink="/contact"></a>
            contact me !!
          </button>
        </div>
      </div>

      <div
        [ngStyle]="{
          'max-width': '313px',
          height: '260px',
          left: '12px',
          mobileMedia
        }"
        class="col-lg-6 home__images px-0"
      >
        <div class="home__main mb-0 ms-lg-auto">
          <figure class="mb-0 position-relative">
            <img class="w-100" src="./assets/Image-1.png" alt="logo" />
            <img
              [ngStyle]="{
                'max-width': '56px',
                height: '56px',
                bottom: '38px',
                mobileMedia
              }"
              class="home__dots position-absolute"
              src="./assets/Dots.svg"
            />
            <img
              [ngStyle]="{
                'max-width': '104px',
                height: '104px',
                bottom: '99px',
                left: '6px',
                mobileMedia
              }"
              class="home__outline position-absolute"
              src="./assets/logo-outline.svg"
            />
          </figure>
          <div
            [ngStyle]="{ width: '100%', mobileMedia }"
            class="home__frame p-2 d-flex align-items-center gap-2 color-main border-secondary"
          >
            <div class="home__box border-primary bg-main-primary"></div>
            <div class="home__title d-flex flex-column flex-md-row text-white">
              <p class="mb-0 pe-2 text-main-secondary">Currently working on</p>
              <span>Portfolio</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
