<section class="home">
  <div class="container">
    <div
      class="row gx-2 align-items-center justify-content-between home__row-mb"
    >
      <div class="col-lg-6 px-0">
        <div class="home__heading">
          <h1 class="mb-0 pe-1 p-md-0">
            <span class="text-white">Elias is a</span> web designer
            <span>and</span>
            <br />
            front-end developer
          </h1>
          <p class="mb-4">
            He crafts responsive websites where technologies meet creativity
          </p>
          <button
            class="btn home__btn text-white rounded-0 px-3 text-capitalize"
          >
            contact me !!
          </button>
        </div>
      </div>

      <div class="col-lg-6 home__images position-relative px-0">
        <div class="home__main mb-0 ms-lg-auto">
          <figure>
            <img class="w-100" src="./assets/Image-1.png" alt="logo" />
          </figure>
          <figure class="home__dots position-absolute">
            <img class="w-100" src="./assets/Dots.svg" />
          </figure>
          <figure class="home__outline position-absolute ms-lg-auto">
            <img class="w-100" src="./assets/logo-outline.svg" />
          </figure>
        </div>
        <div class="home__frame p-2 d-flex align-items-center gap-2 ms-lg-auto">
          <div class="home__box"></div>
          <div class="home__title d-flex flex-column flex-md-row">
            <p class="mb-0 pe-2">Currently working on</p>
            <span class="text-white">Portfolio</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
