<section class="home pt-5">
  <div class="container">
    <div class="row align-items-center justify-content-between mb-5">
      <div class="col-md-6">
        <div class="home__heading pe-5">
          <h1 class="mb-3">
            <span class="home__heading-alter">Elias is a</span> web designer
            <span>And</span> <br />
            front-end developer
          </h1>
          <p class="mb-4">
            He crafts responsive websites where technologies meet creativity
          </p>
          <button class="btn home__heading-bnt text-white rounded-0 px-3">
            contact me !!
          </button>
        </div>
      </div>
      <div class="col-md-6 home__imges position-relative">
        <figure class="home__main-img">
          <img class="w-100" src="./assets/Image-1.png" alt="logo" />
          <div class="home__main-dots">
            <figure class="home__dots-img position-absolute">
              <img class="w-100" src="./assets/Dots.svg" alt="logo" />
            </figure>
          </div>
        </figure>
        <figure class="home__outline-img position-absolute">
          <img class="w-100" src="./assets/logo-outline.svg" alt="logo" />
        </figure>

        <div
          class="home__frame p-2 d-flex align-items-center gap-2 position-relative"
        >
          <div class="home__box"></div>
          <p class="mb-0">Currently working on <span>Portfolio</span></p>
        </div>
      </div>
    </div>
    <app-quote></app-quote>
  </div>
</section>
