.quote {
  /* Layout */
  text-align: center;

  /* box Model */
  max-width: 800px;
  padding: {
    top: 112px;
  }

  /* Positioning */
  margin: {
    bottom: 137px;
  }

  &__quotes {
    /* Text */
    font-size: 24px;
    font-weight: 500;
  }

  /**
    * Helper to change the quote in small screens
    * 1. the default width is `800px` and in `small-media` the width will be fit the content
    * 2. adding padding on the left and right sides to prevent the content aligned the viewport
    * 3. decrease the font size to smaller in small media
    */
  &.small-media {
    /* Layout */
    width: fit-content; /* 1 */

    /* Box Model*/ /* 2 */
    padding: {
      left: 20px;
      right: 20px;
    }

    p {
      /* Text */
      font-size: 12px; /* 3 */
    }
  }
  /**
    * Helper to change the quote in medium and small screen
    * 1. reset the width to be fit content in medium-media
    * 2. increase the font size to smaller in medium media
    */

  &.medium-media {
    /* Layout */
    width: fit-content; /* 1 */

    p {
      /* Text */
      font-size: 15px; /* 2 */
    }
  }

  &__quotes {
    /* box Model */
    padding: 32px;
  }

  &__author {
    /* Positioning */
    bottom: 0px;
    transform: translateY(100%);
    right: 0px;

    /* Box Model */
    padding: 16px;
    border-top: 0;

    /* Text */
    font-size: 24px;
    font-weight: 400;
  }

  &__img {
    /* Positioning */
    transform: translateY(-50%);
    top: 0;

    /* Box Model */
    width: 41px;
    height: 28px;
    padding: 4px 8px;
  }

  &__img.author {
    /* Positioning */
    right: 16px;
  }

  &__img.quotes {
    /* Positioning */
    left: 19px;
  }
}
