<section
  [ngClass]="{
    'small-media': isHandsetPortrait,
    'min-small-media': isSmall
  }"
  class="qoute mx-auto"
>
  <div class="position-relative">
    <p class="text-white mb-0 qoute__qoutes border-secondary">
      With great power comes great electricity bill
      <img
        class="position-absolute qoute__img bg-main quotes background"
        src="./assets/quote.svg"
        alt="quote"
      />
    </p>
    <p
      [ngClass]="{
        'small-media': isHandsetPortrait,
        'min-small-media': isSmall
      }"
      class="qoute__author position-absolute mb-0 text-white border-secondary"
    >
      - Dr. Who
      <img
        class="position-absolute qoute__img bg-main author"
        src="./assets/quote.svg"
        alt="quote auther"
      />
    </p>
  </div>
</section>
