<!-- sitelang dropdown using boolean flag isNavBarOpen to handle padding same as the rest anchors in navbar -->
<div class="navbar__lang navbar__link text-main-secondary" [ngClass]="{ 'ps-32': !isNavbarOpen }">
  <div class="position-relative">
    <!-- using openLangDropdown() to open and run animation by change the value for isDropDownOpen Flag -->
    <div class="d-flex" (click)="openLangDropdown($event)">
      <span class="fw-semibold d-block">{{ siteInitLang }}</span>
      <!-- isDropDownOpen help to display drop down on click -->
      <span class="ps-1"><img [ngClass]="{'show': isDropDownOpen}" class="chevron-down" src="./assets/lang-arrow.svg"
          alt="language-arrow" /></span>
    </div>
    <div [ngClass]="{'hide': !isDropDownOpen,'show d-block': isDropDownOpen}"
      class="lang__dropdown hide bg-main text-center">
      <div class="lang-dropdown_border">
        <!-- use openLangDropdown() to toggle and close dropdown menu after choose language -->
        <p *ngFor="let lang of restSiteLangs" (click)="openLangDropdown($event)" class="m-0">
          {{lang}}
        </p>
      </div>
    </div>
  </div>
</div>