@import "mixins.scss";

.navbar__lang {
  position: relative;
  cursor: pointer;
  p {
    opacity: 0;
    transition: 0.3s all;
  }
  .lang__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    width: fit-content;
    padding: 8px;
    overflow: hidden;
    display: none;
  }

  .lang__dropdown.show {
    p {
      animation: showText 0.3s forwards;
    }
  }
  @keyframes showText {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .lang__dropdown.hide {
    p {
      opacity: 0;
      animation: hideText 0.3s forwards;
    }
    animation: hideDropDown forwards 0.3s 0s;
  }
  @keyframes hideText {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes hideDropDown {
    from {
      display: block;
    }
    to {
      display: none;
    }
  }

  .lang__dropdown::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid #abb2bf;
    opacity: 0;
    z-index: -1;
  }
  .lang__dropdown.show::after {
    transform-origin: top center;
    animation: showBorder 0.3s forwards;
  }
  @keyframes showBorder {
    from {
      opacity: 0;
      transform: rotatex(70deg) translateY(5px);
    }
    to {
      opacity: 1;
      transform: rotatex(0deg);
    }
  }
  .lang__dropdown.hide::after {
    transform-origin: top center;
    animation: hideBorder 0.3s forwards;
  }
  @keyframes hideBorder {
    from {
      opacity: 1;
      transform: rotatex(0deg);
    }
    to {
      opacity: 0;
      transform: rotatex(70deg);
    }
  }
  .chevron-down {
    transition: 0.3s all;
  }
  .chevron-down.show {
    transform: rotate(-180deg);
  }
  ::selection {
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .ps-32 {
    padding-left: 32px;
  }
}
@media (max-width: 767px) {
  .ps-32 {
    padding-left: 16px;
  }
}
