.media-line {
  height: 191px;
  width: 1px;
  background-color: rgba(171, 178, 191, 1);
}
.mediaIcons {
  li {
    width: 32px;
    height: 32px;
    margin: 15px;
  }
}
.media-line_container {
  left: 32.5px;
}
