<div class="container fixed-top">
  <nav #navbar class="navbar align-items-start flex-wrap flex-sm-nowrap">
    <a class="fw-bold text-decoration-none text-white" href="#">
      <img class="navbar__logo" src="./assets/logo-solid.svg" alt="logo-solid">
      <span class="ps-2">Elias</span>
    </a>
    <button *ngIf="navbarShowFlag" (click)="openNavBar(navbar,navbarList)"
      class="d-block d-sm-none border-0 bg-transparent">
      <img src="./assets/burger_btn.svg" alt="burger_btn">
    </button>
    <button *ngIf="!navbarShowFlag" (click)="closeNavBar(navbar,navbarList)"
      class="d-block d-sm-none  nabbar-burgarBtn border-0 bg-transparent w-50 text-end">
      <img src="./assets/close_btn.svg" alt="close_btn">
    </button>
    <ul #navbarList
      class="navbar__list list-unstyled d-none d-sm-flex mb-0 align-self-start h-100 mt-3 mt-sm-0 position-relative">
      <li class="pb-4 pb-sm-0 navbar__item">
        <a class="navbar__link text-decoration-none active" href="#"><span
            class="navbar__item--linkHash">#</span>home</a>
      </li>
      <li class="pb-4 pb-sm-0  navbar__item">
        <a class="navbar__link text-decoration-none" href="#"><span class="navbar__item--linkHash">#</span>works</a>
      </li>
      <li class="pb-4 pb-sm-0  navbar__item">
        <a class="navbar__link text-decoration-none" href="#"><span class="navbar__item--linkHash">#</span>about-me</a>
      </li>
      <li class="pb-4 pb-sm-0  navbar__item">
        <a class="navbar__link text-decoration-none" href="#"><span class="navbar__item--linkHash">#</span>contacts</a>
      </li>
      <li class="pb-4 pb-sm-0 align-self-end navbar__item">
        <div class="navbar__lang navbar__link">
          <div class="position-relative">
            <div>
              <span class="navbar__item--linkHash">#</span>
              <span>EN</span>
              <span><img class="ps-1 chevron-down" src="./assets/lang-arrow.svg" alt="language-arrow"></span>
            </div>
            <div class="lang__dropdown text-center">
              <div class="lang-dropdown_border">
                <p class="m-0">RU</p>
                <p class="m-0">UA</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="d-flex d-sm-none position-absolute start-50 bottom-0 translate-middle mb-5">
        <ul class="navbar__socialIcons list-unstyled m-0">
          <li><i class="fa-brands fa-github"></i></li>
          <li><i class="fa-brands fa-dribbble"></i></li>
          <li><i class="fa-brands fa-figma"></i></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>