<div class="container">
  <nav class="navbar">
    <a class="fw-bold text-decoration-none text-white" href="#">
      <img class="navbar-logo" src="./assets/logo-solid.svg" alt="">
      <span class="ps-2">Elias</span>
    </a>
    <ul class="list-unstyled d-flex">
      <li>
        <a class="navbar-link text-decoration-none active" href="#"><span class="navbar-link_hash">#</span>home</a>
      </li>
      <li>
        <a class="navbar-link text-decoration-none" href="#"><span class="navbar-link_hash">#</span>works</a>
      </li>
      <li>
        <a class="navbar-link text-decoration-none" href="#"><span class="navbar-link_hash">#</span>about-me</a>
      </li>
      <li>
        <a class="navbar-link text-decoration-none" href="#"><span class="navbar-link_hash">#</span>contacts</a>
      </li>
      <li>
        <a class="navbar-link text-decoration-none" href="#">
          <span class="navbar-link_hash">#</span>
          <span>EN</span>
          <span><img class="ps-1" src="./assets/lang-arrow.svg" alt=""></span>
        </a>
      </li>
    </ul>
  </nav>
</div>